body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
}

h1, h2 {
  font-size: 2.10em;
  color: rgb(67, 61, 61);
  font-weight: 600;
}

h2 {
  font-size: 1.8em;
}

h4, h6 {
  font-size: 1.26em;
  color: rgb(67, 61, 61);
  font-weight: 500;
}

h4 {
  line-height: 1.4em;
}

p {
  font-size: .75em;
  color: rgb(67, 61, 61);
  font-weight: 400;
  line-height: 1em;
}

span {
  font-size: .70em;
  color: rgb(67, 61, 61);
  line-height: .94em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 2.75em;
  padding-left: 24px;
}

#colmar {
  font-size: 1em;
  font-weight: 700;
}

#academy {
  font-size: 1em;
  font-weight: 400;
  color: gray;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.desktop-view a {
  display: inline-block;
  padding-right: 16px;
  font-size: 1em;
  text-decoration: none;
}

.desktop-view a:hover {
  color: rgb(67, 61, 61);
}

.desktop-view a:active {
  color: rgb(67, 61, 61);
}

nav.mobile-view {
  display: none;
}

.main-banner {
  background-color: rgb(245, 234, 234);
  margin: 0 auto;
}

.main-banner .container {
  display: flex;
  justify-content: space-between;
}

.left-side {
  width: 60%;
  padding: 32px 24px;
}

.left-side img {
  width: 100%;
}

.right-side {
  width: 440px;
}

.title {
  height: auto;
  padding-left: 20px;
  margin-right: 60px;
  margin-top: 6em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title h4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.title a {
  background-color: rgb(97, 88, 88);
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
}

.title a:hover {
  background-color: rgb(97, 88, 88);
}

.title a:active {
  background-color: rgb(97, 88, 88);
}

.practicing {
  display: flex;
  justify-content: space-between;
}

.left-side h2 {
  padding-top: 32px;
}

.left-side p {
  padding: 24px 24px 24px 0px;
}

.practice-content {
  padding: 16px 1px 16px 0px;
  width: 100%;
}

.practice-content p {
  padding-top: 8px;
}

.practice-content a {
  color: #4ba3f4;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding-top: .9rem;
}

.practice-content a:hover {
  color: rgb(122, 184, 238);
  text-decoration: underline;
}

.content a:active {
  color: rgb(122, 184, 238);
  text-decoration: underline;
}

.practicing .right-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid rgb(237, 230, 230);
  padding: 16px 0px 32px 0px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card img.desktop-view {
  padding: 16px;
  width: 35%;
}

.card img.mobile-view {
  display: none;
}

.second-card {
  border-top: 1px solid rgb(237, 230, 230);
  border-bottom: 1px solid rgb(237, 230, 230);
}

.lecture {
  background-color: rgb(237, 230, 230);
}

@media only screen and (max-width: 480px) {
  nav.desktop-view {
    display: none;
  }
  .logo {
    display: none;
  }
  nav.mobile-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
  }

  .title a {
    width: 100%;
    background-color: rgb(67, 61, 61);
    ;
  }

  .title a:hover {
    opacity: .5;
  }

  .title a:active {
    opacity: .5;
  }

  .practice-content .left-side {
    display: none;
  }

  .practice-content .right-side {
    border-left: 0px;
    padding: 16px 16px 32px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .lecture {
    background-color: white;
  }

  .second-card {
    border-top: 0px;
    border-bottom: 0px;
    margin: 16px 0px;
  }

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .card img.desktop-view {
    display: none;
  }

  .card img.mobile-view {
    display: flex;
    width: 100%;
  }

  .practice-content {
    padding: 0px;
    margin-top: 16px;
    width: 100%;
  }
}