/* Desktop Version */

html {
  font-size: 18px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 2.15rem;
  color: rgb(50, 48, 48);
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  color: rgb(50, 48, 48);
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  color: rgb(50, 48, 48);
  font-weight: 450;
  line-height: 1.45rem;
}

h6 {
  font-size: 1.12rem;
  color: rgb(50, 48, 48);
  font-weight: 450;
}

p {
  font-size: .75rem;
  color: rgb(128, 128, 128);
  font-weight: 400;
  line-height: 1.1rem;
}

span {
  font-size: .75rem;
  color: rgb(50, 48, 48);
  line-height: .94rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 2.75rem;
  padding-left: 24px;
}

.colmar {
  font-size: 1rem;
  font-weight: 750;
}

.academy {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(128, 128, 128);
}

nav {
  text-align: right;
  flex-grow: 1;
}

.desktop-view a {
  display: inline-block;
  padding-right: 16px;
  color: rgb(50, 48, 48);
  font-size: 1rem;
  text-decoration: none;
}

.desktop-view a:hover {
  color: rgb(128, 128, 128);
}

.desktop-view a:active {
  color: rgb(128, 128, 128);
}

nav.mobile-view {
  display: none;
}

.main-section {
  background-color: rgb(213, 211, 211);
  margin: 0 auto;
}

.main-section .container {
  display: flex;
  justify-content: space-between;
}

.left-side {
  padding: 32px 24px;
  width: 60%;
}

.left-side img {
  width: 100%;
}

.right-side {
  width: 440px;
}

.heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  padding-left: 20px;
  margin-right: 60px;
  margin-top: 6rem;
}

.heading h4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.heading a {
  background-color: rgb(50, 48, 48);
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
}

.heading a:hover {
  background-color: rgb(128, 128, 128);
}

.heading a:active {
  background-color: rgb(128, 128, 128);
}

.practice {
  display: flex;
  justify-content: space-between;
}

.left-side h2 {
  padding-top: 32px;
}

.left-side p {
  padding: 24px 24px 24px 0px;
}

.content {
  padding: 16px 1px 16px 0px;
  width: 100%;
}

.content p {
  padding-top: 8px;
}

.content a {
  font-size: 14px;
  color: rgb(90, 168, 236);
  display: block;
  padding-top: .9rem;
  text-decoration: none;
}

.content a:hover {
  color: rgb(178, 206, 230);
  text-decoration: underline;
}

.content a:active {
  color: rgb(178, 206, 230);
  text-decoration: underline;
}

.practice .right-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid rgb(220, 220, 220);
  padding: 16px 0px 32px 0px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card img.desktop-view {
  padding: 16px;
  width: 35%;
}

.card img.mobile-view {
  display: none;
}

.info-two {
  border-top: 1px solid rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 220, 220);
}

.lecture {
  background-color: rgb(220, 220, 220);
}

.learn-section {
  display: flex;
  justify-content: space-between;
  background-color: rgb(220, 220, 220);
  padding-bottom: 32px;
}

.headline {
  text-align: center;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
}

.courses-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
}

.all-courses {
  display: none;
}

.course {
  width: 32%;
  height: 16rem;
  margin-bottom: 20px;
  background-color: white;
}

.course img {
  width: 100%;
}

.course h6 {
  padding-bottom: 1rem;
}

.course p {
  padding-top: .52rem;
}

.course-content {
  padding: 16px 16px 24px 16px;
}

.course-content span {
  font-size: .8rem;
  color: rgb(128, 128, 128);
}

.stretch {
  display: flex;
  justify-content: space-between;
}

.left-side video {
  object-fit: contain;
  width: 100%;
}

.thesis-section p {
  padding-top: 16px;
  padding-bottom: 0px;
}

.thesis-section h6 {
  padding-top: 24px;
}

.thesis-section .card img {
  padding: 16px;
  width: 35%;
}

.thesis-section .info-one {
  margin-top: 32px;
}

footer {
  border-top: 1px solid rgb(220, 220, 220);
  height: 3.5rem;
}

footer p {
  padding-left: 24px;
  padding-right: 24px;
  color: rgb(50, 48, 48);
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .75rem;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.footer-nav a {
  font-size: .75rem;
  display: inline-block;
  padding-right: 16px;
  color: rgb(50, 48, 48);
  text-decoration: none;
}

.footer-nav a:hover {
  color: rgb(128, 128, 128);
}

.footer-nav a:active {
  color: rgb(128, 128, 128);
}

/* Mobile Version */

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  nav.desktop-view {
    display: none;
  }

  .logo {
    display: none;
  }

  nav.mobile-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
  }

  .heading a {
    width: 100%;
    background-color: rgb(128, 128, 128);
  }

  .heading a:hover {
    opacity: .6;
  }

  .heading a:active {
    opacity: .6;
  }

  .practice .left-side {
    display: none;
  }

  .practice .right-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-left: 0px;
    padding: 16px 16px 32px 16px;
  }
 
  .info-two {
    border-top: 0px;
    border-bottom: 0px;
    margin: 16px 0px;
  }

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .card img.desktop-view {
    display: none;
  }

  .card img.mobile-view {
    display: flex;
    width: 100%;
  }

  .content {
    padding: 0px;
    width: 100%;
    margin-top: 16px;
  }
  .learn-section {
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: white;
  }

  .learn-section .container {
    margin: 0 auto;
    width: 100%;
  }

  .courses-section {
    display: none;
  }

  .all-courses {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .all-courses a {
    font-size: 1.3rem;
    background-color: rgb(220, 220, 220);
    color: rgb(50, 48, 48);
    text-decoration: none;
    padding: 16px;
    margin-bottom: 8px;
  }

  .all-courses a:hover {
    background-color: rgb(245, 245, 245);
  }

  .all-courses a:active {
    background-color: rgb(245, 245, 245);
  }

  .stretch .right-side {
    display: none;
  }

  .stretch .left-side {
    padding: 0px;
    width: 100%;
  }

  .stretch .left-side p {
    display: none;
  }

  .stretch .left-side h6 {
    display: none;
  }

  footer {
    border-top: 0px;
  }

  footer .container {
    margin-top: 24px;
  }

  footer .footer-nav {
    display: none;
  }

  footer p {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

/* Tablet Version */

@media only screen and (max-width: 800px) {
  .main-section .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .main-section .left-side {
    padding: 0px 0px;
    width: 100%;
  }
  .right-side {
    width: 100%;
  }

  .heading {
    margin: 32px 24px;
    padding-left: 0px;
    align-items: center;
  }

  .heading a {
    width: 50%;
  }
}